{% extends "layout.html" %}

{% block page_head %}
    <h1>키워드 생성</h1>
    <a href="{{ url_for('keyword.keywords') }}" type="button" class="btn btn-default pull-right">List</a>
{% endblock %}
{% block page_body %}
    <div class="keyword-create">
        <form role="form" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
{% endblock %}
{% block extra %}
    {% if message %}
        <script>
            alert('{% autoescape false %}{{ message }}{% endautoescape %}');
        </script>
    {% endif %}
{% endblock %}